

<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Data table JavaScript -->
<script src="../static/js/jquery.dataTables.min.js"></script>

<!-- Slimscroll JavaScript -->
<script src="../static/js/jquery.slimscroll.js"></script>

<!-- simpleWeather JavaScript -->
<script src="../static/js/moment.min.js"></script>
<!--<script src="vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>-->
<!--<script src="dist/js/simpleweather-data.js"></script>-->

<!-- Progressbar Animation JavaScript -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>

<!-- Fancy Dropdown JS -->
<script src="../static/js/dropdown-bootstrap-extended.js"></script>

<!-- Sparkline JavaScript -->
<script src="../static/js/jquery.sparkline.min.js"></script>

<!-- ChartJS JavaScript -->
<script src="../static/js/Chart.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../static/js/raphael.min.js"></script>
<script src="../static/js/morris.min.js"></script>
<script src="../static/js/morris-data.js"></script>

<script src="../static/js/jquery.toast.min.js"></script>


<script type="text/javascript" src="../static/js/jBox.min.js"></script>
